.title-text {
    text-align: center;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.336);
    margin-top: 50px;
    position: relative;
}
.title-text::after {
    content: '';
    height: 3px;
    width: 120px;
    background: red;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}