.title-text {
    text-align: center;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    position: relative;
}
.title-text::after {
    content: '';
    height: 3px;
    width: 120px;
    background: red;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.reviews {
    width: 50%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}
.about-us {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.1)), url('../../images/about-us/about-us-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    padding: 5px 0 50px;
    margin: 80px 0;
}
.about-us-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
.single-about {
    background: white;
    border-radius: 7px;
    margin: 15px;
    padding: 15px;
}
.icon i {
    font-size: 50px;
    margin: 0 0 20px;
}

@media only screen and (max-width: 768px) {
    .about-us-container {
        grid-template-columns: 1fr;
    }
    .reviews {
        width: 100%;
    }
}