.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

@media only screen and (max-width: 768px) {
    .services-container {
        grid-template-columns: 1fr;
    }
}